<div class="component-news">
    <article class="container-news" id={{var.id}}>
        <div class="image-news">
            <img src={{var.image}}></div>
        <div class="container-information">
            <div class="text-information">
                <h2 class="name-information">{{var.title}}</h2>
                <p><a class="youtube-link" href={{var.link}} is="video-link">hereyoutubevideo</a>
                    {{var.text}}
                </p>
            </div>
        </div>
        <div class="actions">
            {{> share-widget}}
            <a href="news-page.html" class="text-information-more link-a">Read more...</a>
        </div>
    </article>
</div>